@use '../../styles/' as *;

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(250), 1fr));
  grid-auto-rows: 1fr;
  gap: space(m);
}

.products {
  &__link {
    margin-bottom: space(s);
  }
  &__heading {
    font-size: fz(xl);
    margin-bottom: space(s);
    color: col(text-accent);
  }
  &__message {
    font-size: space(x);
    color: col(text);
  }
}
