@use '../../styles/' as *;

.card {
  @include flex(space-between,center);
  padding: space(s);
  margin-bottom: space(s);
  border-radius: 5px;
  border: 1px solid col(elements-border);
  background-color: col(elements-bg);
  color: col(text);
  &:last-child {
    margin-bottom: 0;
  }
  &__product {
    @include flex(false, center);
  }
  &__data {
    @include flex(false, false, column);
  }
  &__image-wrapper {
    @include size(rem(100), rem(80));
    margin-right: space(xs);
    border-radius: 5px;
    overflow: hidden;
  }
  &__image {
    @include image;
  }
  &__heading {
    font-size: fz(m);
  }
}