@use '../../styles/' as *;

.product {
  display: grid;
  grid-template-columns: minmax(rem(250), rem(300)) 1fr;
  margin-bottom: space(s);
  color: col(text);
  &__image-wrapper {
    height: rem(300);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
  }
  &__image {
    @include image;
  }
  &__info {
    @include flex(false, flex-start, column);
    padding: space(s);
    overflow: auto;
  }
  &__info-container {
    flex: 1 1 auto;
  }
  &__name {
    margin-bottom: space(xs);
    font-size: fz(xxl);
    color: col(text-accent);
  }
  &__number {
    margin-bottom: space(s);
    font-size: space(m);
    color: col(text-secondary);
  }
  &__rating {
    margin-bottom: space(s);
  }
  &__description {
    color: col(text);
    font-size: fz(m);
  }
  &__item {
    font-size: rem(22);
  }
  &__item-title {
    width: rem(100);
  }
  &__button {
    margin-bottom: space(x);
  }
  &__main {
    flex: 1 1 auto;
    margin-bottom: space(s);
  }
}

@media (max-width: 600px){
  .product {
    &__info {
      padding: space(s) 0;
    }
    grid-template-columns: 1fr;
  }
}