@use '../../../styles/' as *;

.price {
  @include flex(false, center);
  margin-bottom: space(xs);
  color: col(text-accent);
  font-weight: 700;
  font-size: fz(x);
  word-spacing: -.2ch;
  &_special {
    color: col(accent-secondary);
  }
  &_prev {
    margin-left: space(xxs);
    text-decoration: line-through;
    font-weight: 400;
    font-size: fz(s);
    color: col(text-secondary);
  }
}
