@use '../../../../styles/' as *;

.textarea {
  @include focusable-elements-styles;
  min-height: rem(100);
  max-height: rem(200);
  resize: vertical;
  &::placeholder {
    color: col(text-secondary);
  }
}