@use '../../../styles/' as *;

.table {
  width: 100%;
  border: 1px solid col(elements);
  border-collapse: collapse;
  color: col(text);
  &__row {
    padding: space(s);
  }
  &__header {
    width: rem(130);
    text-align: start;
    border: 1px solid col(elements);
    padding: space(s);
  }
  &__data {
    border: 1px solid col(elements);
    padding: space(s);
  }
}