@use '../../styles/' as *;

.profile {
  display: grid;
  grid-template-columns: minmax(rem(200), rem(300)) 1fr;
  margin-bottom: space(s);
  color: col(text);
  &__image-wrapper {
    height: rem(300);
    border-radius: 5px;
    overflow: hidden;
  }
  &__image {
    @include image;
  }
  &__info {
    @include flex(false, flex-start, column);
    padding: space(s);
    overflow: auto;
  }
  &__name {
    color: col(text-accent);
    margin-bottom: space(xs);
    font-size: fz(xxl);
    font-weight: 700;
  }
  &__group {
    margin-bottom: space(s);
    color: col(text-secondary);
  }
  &__description {
    flex: 1 1 auto;
    margin-bottom: space(s);
    font-size: fz(m);
  }
}

@media (max-width: 600px){
  .profile {
    &__info {
      padding: space(s) 0;
    }
    grid-template-columns: 1fr;
  }
}