@use 'sass:math';
@use './variables.scss' as *;

@function rem($px) {
  @return math.div($px, 16) + rem;
}

@function space($margin-key) {
  @return var(--space-#{$margin-key});
}

@function col($color-name) {
  @return var(--color-#{$color-name});
}

@function fz($font-size) {
  @return var(--font-size-#{$font-size});
}

@mixin pos($pos, $top: false, $right: false, $bot: false, $left: false) {
  position: $pos;
  @if ($top) {
    top: rem($top);
  }
  @if ($right) {
    right: rem($right);
  }
  @if ($bot) {
    bottom: rem($bot);
  }
  @if ($left) {
    left: rem($left);
  }
}

@mixin flex($justify: false, $align: false, $direction: false, $gap: false) {
  display: flex;
  @if ($justify) {
    justify-content: $justify;
  }
  @if ($align) {
    align-items: $align;
  }
  @if ($direction) {
    flex-direction: $direction;
  }
  @if ($gap) {
    gap: $gap;
  }
}
