$colors: (
  accent: #4299e1,
  accent-hover: #3182ce,
  accent-secondary: #b94d4d,
);

$colors-dark: (
  main-bg: #1a202c,
  secondary-bg: #1a202c,
  text: #a0aec0,
  text-accent: #e2e8f0,
  text-secondary: #6e7886,
  text-elements: #e8edf3,
  elements: #202731,
  elements-bg: #222936,
  elements-hover: #262f3a,
  elements-disabled: #2f3a47,
  elements-border: rgba(255, 255, 255, 0.16),
);

$colors-light: (
  main-bg: #f8f6f6,
  secondary-bg: #f8f6f6,
  elements-bg: #f0ebeb,
  text: #283141,
  text-accent: #2d3748,
  text-secondary: #757575,
  text-elements: #fff,
  elements: #e7e3e3,
  elements-hover: #f1efef,
  elements-disabled: #f1efef,
  elements-border: #c5c5c5,
);

$spacing: (
  xxl: 30,
  xl: 25,
  x: 20,
  m: 15,
  s: 10,
  xs: 5,
  xxs: 3,
);

$font-size: (
  xxl: 35,
  xl: 30,
  x: 24,
  xm: 20,
  m: 18,
  s: 15,
  xs: 12,
  xxs: 10,
);
