@use '../../styles/' as *;

.card {
  @include flex(false, false, column);
  background-color: col(elements-bg);
  border: 1px solid col(elements-border);
  border-radius: 5px;
  overflow: hidden;
  &__header {
    position: relative;
    height: rem(280);
  }
  &__image {
    @include image;
  }
  &__tags {
    @include pos(absolute, 5, false, false, 5);
    @include flex;
  }
  &__tag {
    padding: space(xs);
    margin-right: space(xs);
    list-style-type: none;
    color: col(text-elements);
    background-color: col(accent);
    border-radius: 5px;
  }
  &__like {
    @include pos(absolute, 5, 5);
    @include size(rem(30), rem(30));
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid col(elements-border);
    @include button-pseudo;
    &:hover,
    &:focus-visible {
      & .card__icon {
        fill: col(accent);
      }
      & .card__icon_active {
        fill: col(text-secondary);
      }
    }
  }
  &__button {
    padding: space(s);
    width: 100%;
  }
  &__body {
    @include flex(false, center, column);
    flex: 1 1 auto;
    padding: space(s);
    padding-bottom: 0;
    color: col(text);
  }
  &__description {
    @include webkitbox;
    text-align: center;
    font-size: fz(s);
    color: col(text);
    padding: 0;
    font-weight: 400;
    &:hover {
      color: col(accent);
    }
  }
  &__link {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  &__price {
    margin-bottom: space(xs);
  }
  &__rating {
    margin-bottom: space(xs);
  }
  &__icon {
    fill: col(text-secondary);
    transition: fill 0.2s ease-in;
    &_active {
      fill: col(accent);
    }
  }
  &__footer {
    @include flex(center, center);
    padding: space(s);
  }
}
