@use '../../styles/' as *;

.card {
  @include flex(false, false, column);
  border: 1px solid col(elements);
  border-radius: 5px;
  overflow: hidden;
  &__image {
    display: block;
    width: 100%;
    height: rem(220);
  }
  &__body {
    flex: 1 1 auto;
    @include flex(center, center, column);
    padding: rem(5) rem(10) rem(10);
    background-color: col(elements-bg);
    color: col(text);
    font-size: rem(20);
  }
  &__description {
    flex: 1 1 auto;
    // @include flex(center, center);
    width: 100%;
    margin-bottom: rem(2);
    padding: rem(2);
    font-size: rem(22);
    text-align: center;
  }
  &__price {

    margin-bottom: rem(5);
    color: col(text);
  }
  &__weight {
    margin-bottom: rem(5);
  }
}
