@use '../../styles/' as *;

.link {
  @include button(true);
  &_primary {
    background-color: col(accent);
    color: col(text-elements);
    @include button-pseudo(col(accent-hover));
  }
  &_secondary {
    color: col(text);
    border: 1px solid col(elements-border);
    background-color: transparent;
    @include button-pseudo(col(main-bg));
  }
  &_transparent {
    background-color: transparent;
  }
  &_icon {
    padding: space(xs);
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include button-pseudo(col(elements-hover-bg));
    & svg {
      fill: col(text);
      pointer-events: none;
      @include size(100%, 100%);
    }
  }
}
