@use '../../styles/' as *;

.header {
  padding: space(s) 0;
  background-color: col(main-bg);
  border-bottom: 1px solid col(elements-border);
  &__link {
    display: block;
    @include flex(center, center);
    height: rem(35);
    outline: 1px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    color: col(text);
    &:focus {
      outline: 1px solid col(text-hover);
    }
  }
  &__title {
    margin-left: space(s);
    font-size: rem(25);
    white-space: nowrap;
  }
  &__nav {
    @include flex(space-between, center);
  }
  &__list {
    @include flex();
    list-style-type: none;
  }
  &__item {
    margin-right: space(xl);
    position: relative;
    &:last-child {
      margin-right: 0;
    }
  }
  &__button {
    height: rem(40);
    width: rem(40);
  }
  &__logo {
    fill: col(accent-logo);
    min-width: rem(30);
  }
}

@media (max-width: 600px) {
  .header {
    &__title {
      display: none;
    }
  }
}
