@use '../../styles/' as *;

.review {
  margin-bottom: space(s);
  padding: space(s);
  border-radius: 5px;
  color: col(text);
  background-color: col(elements-bg);
  &__author {
    @include flex(false, center);
    margin-bottom: space(s);
  }
  &__name {
    font-size: fz(m);
  }
  &__img {
    display: block;
    margin-right: space(s);
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
  }
}