@use '../../../styles/' as *;

.container {
  @include flex;
  position: relative;
  border-radius: 10px;
  transition: border-color 0.1s ease-in-out;
  & button {
    @include flex(center, center);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
      .icon {
        fill: col(text);
      }
    }
    &:focus-visible {
      .icon {
        fill: col(text);
      }
    }
  }
  & svg {
    width: 80%;
    pointer-events: none;
    fill: col(text-secondary);
  }
}

.input {
  width: inherit;
  padding: space(xs);
  font-size: rem(20);
  color: col(text);
  background-color: col(elements);
  border: 1px solid col(elements-border);
  border-radius: 10px;
  outline: transparent;
  outline-offset: -2px;
  &_start {
    padding-left: space(xxl);
  }
  &_end {
    padding-right: space(xxl);
  }
  &:focus {
    border-color: col(accent-hover);
    outline: 2px solid col(accent-hover);
  }
  &::placeholder {
    color: col(text-secondary);
  }
}

.start {
  @include flex(center, center);
  width: rem(20);
  height: 100%;
  position: absolute;
  top: 0;
  left: rem(6);
}

.end {
  @include flex(center, center);
  width: rem(20);
  height: 100%;
  position: absolute;
  top: 0;
  right: rem(6);
}