@use '../../../styles/' as *;

.form {
  @include flex(center, flex-start, column);
  width: rem(500);
  padding: space(m);
  border-radius: 5px;
  background-color: col(elements-bg);
  &__heading {
    font-size: rem(35);
    margin-bottom: space(s);
    color: col(text);
  }
  &__label {
    margin-bottom: space(xs);
    color: col(text);
  }
  &__input-container {
    @include flex(false, false, column);
    width: 100%;
    margin-bottom: space(s);
  }
  &__input {
    width: 100%;
    padding: space(xs);
    margin-bottom: space(xs);
    background-color: col(elements);
    border: 1px solid col(elements-border);
    border-radius: 5px;
    font-size: rem(18);
    color: col(text);
    outline: none;
    outline-offset: -2px;
    &:focus {
      border-color: col(accent);
      outline: 2px solid col(accent);
    }
    &::placeholder {
      color: col(text-secondary);
    }
  }
  &__error {
    color: col(accent-secondary);
    font-size: rem(14);
  }
  &__button {
    margin-bottom: space(s);
  }
  &__link {
    color: col(text);
    text-decoration: none;
    transition: color 0.1s ease-in-out;
    &:hover {
      color: col(accent);
    }
  }
}
