@use '../../../styles/' as *;

.submenu {
  position: absolute;
  z-index: 1;
  top: rem(55);
  right: rem(5);
  padding: space(s);
  border-radius: 5px;
  list-style-type: none;
  background-color: col(main-bg);
  &__item {
    margin-bottom: space(xs);
    &:last-child {
      margin: 0;
    }
  }
  &__button {
    padding: space(s) space(m);
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    color: col(text);
    white-space: nowrap;
    font-size: fz(m);
    cursor: pointer;
    &_active {
      background-color: col(accent);
      color: col(text-elements)
    }
  }
}