@use '../../../styles/' as *;

.field {
  @include flex(false, false, column);
  width: 100%;
  margin-bottom: space(xs);
  &__label {
    margin-bottom: space(xs);
    color: col(text);
  }
  &__error {
    color: col(accent-secondary);
    font-size: rem(14);
  }
  &__input {
    margin-bottom: space(xs);
    &_select {
      overflow: auto;
    }
  }
}