@use '../../styles/' as *;

.container {
  width: rem(200);
}

.input {
  margin-bottom: space(s);
  color: col(text);
  &__price {
    margin-bottom: space(xs);
    text-align: center;
  }
  &__field {
    text-align: center;
  }
}
