@use '../../../styles/' as *;

.tabs {
  &__buttons {
    @include flex;
    border-bottom: 1px solid col(elements);
    margin-bottom: space(s);
    overflow: auto;
  }
  &__button {
    border-radius: 0;
    background-color: transparent;
    color: col(text);
    transition: all 0.2s ease-in-out;
    &_active {
      background-color: col(accent);
      color: col(text-elements);
    }
    &:first-child {
      border-top-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
    }
    &:hover {
      color: col(text-elements);
    }
  }
}
